body {
    background-image: url("/site/assets/image/main-qimg-7ed78c59820605017ca035b3a6f848aa.jfif");
    background-size: cover;
}
#lab1 {
    font-family: Dela Gothic One;
    color:whitesmoke;
}


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    width: 85px;
    height:35%;
    transition: all 0.5s;
    cursor: pointer;
    font-family: Zen Dots;
    margin-left: 45%;
    margin-top: 60%;
    
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

#field1 {
    margin-left: 25%;
    width: 50%;
    height: 500px;
    font-family: Zen Dots;
}
p {
    position: relative;
    font-family: Zen Dots;
    font-size: 40px;
    margin-left: 20%;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #DC143C, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }
    @keyframes animate {
    0% {
    background-position: -500%;
    }
    100% {
    background-position: 500%;
    }
    }
